


/*=====================================
        0-1199PX HOME-2 RESPONSIVE
======================================*/
@media (max-width: 1199px) {
    .home-2-banner {
        h1 {
            font-size: 40px;
            line-height: 50px;
        }

        .domain-bg {
            padding: 140px 0px 120px;
        }
    }
}