

/*=====================================
            DOMAIN HEADING STYLE
======================================*/
.domain-heading {
    p {
        width: 550px;
        font-size: 18px;
        margin: 20px auto 0px;
    }
}

/*=====================================
        INNER DOMAIN SUGGEST STYLE
======================================*/
.domain-slider {
    @include flex__center;

    ul {
        li {
            button {
                display: none;
            }
        }
    }

    li {
        margin: 0px 50px;
        padding: 12px 0px;

        a {
            font-size: 45px;
            font-weight: 900;
            margin-bottom: 13px;
            color: $brand__color;
        }

        span {
            display: block;
            font-size: 30px;
            font-weight: 500;
            margin-top: 10px;
            letter-spacing: -1px;

            del {
                font-size: 18px;
                margin-left: 8px;
                color: #df6969;
            }
        }
    }
}

/*=====================================
            FEATURE PART STYLE
======================================*/
.feature-part {
    padding: 100px 0px;
    background: #f9f9f9;
}

/*=====================================
            COUNTER PART STYLE
======================================*/
.counter-part {
    padding: 92px 0px 100px;
}
