

/*=====================================
         NEWSLETTER PART STYLE
======================================*/
.news-part {
    padding: 92px 0px;
    background: #ffeded;
}

.news-content {
    h2 {
        margin-bottom: 20px;
    }
}