


/*=====================================
            FEATURE CARD STYLE
======================================*/
.feature-card {
    display: flex;
    margin: 0px 15px 50px 0px;

    &:hover {
        li {
            i {
                color: $wh__color;
                background: $primary__gradient;
            }
        }
    }

    li {
        i {
            width: 45px;
            height: 45px;
            line-height: 45px;
            text-align: center;
            border-radius: 50%;
            background: #eee;
            font-size: 18px;
            color: $heading__color;
            margin-right: 25px;
        }

        h4 {
            margin-bottom: 15px;
        }
    }
}